@use '../mixins/responsive.scss' as *;
@use '../config/variables.scss' as *; 

.catalog{
    margin-top: 80px;
    padding: 15px;
    text-align: center;
    @include responsive(desktop) {
        padding: 40px;
    }
}

.tienda{
  font-weight: 800;
  color: $rojo1-gelatlove;
}

.cart-badge {
  position: absolute;
  background-color: $background-icono;
  color: $color-icono;
  border-radius: 100px;
  padding: 5px 7px;
  font-size: 8px;
  top: 19px;
  right: 75px;
  @include responsive(desktop) {
    top: 19px;
    right: 96px;
  }
}

button:disabled{
  cursor: not-allowed;
  opacity: 0.1;
}

//Filtros
.products{
  @include responsive(desktop) {
    display: flex;
    flex-direction: row;
  }
}

.filters {
    background-color: $color-banner5; 
    padding: 20px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    @include responsive(desktop) {
      min-width: 25%;
      width: 25%;
    }

    h2 {
        font-size: 24px; 
        margin-bottom: 15px;
        color: $color-letra-principal;
    }

    .filter-category {
        margin-bottom: 20px;

        h3 {
            font-size: 20px; 
            margin-bottom: 10px;
            color: $color-letra-principal;
        }

        .filter-options {
            display: flex; 
            flex-direction: column;
            gap: 5px;

            label {
                font-size: 16px;
                color: $color-letra-principal; 
                cursor: pointer; 

                input {
                    margin-right: 10px; 
                    cursor: pointer;
                }
            }
        }
    }
}


//Card Helados

.helado-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    padding: 20px;

    @include responsive(desktop) {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
  
    .helado-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $icecream-background;
        border: 1px solid $border-icecream-background; 
        border-radius: 10px;
        padding: 15px;
        text-align: center; 
        width: calc(50% - 20px); 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, 
        box-shadow 0.3s ease; 
        &:hover {
            transform: translateY(-5px); 
  
            img {
              filter: grayscale(0%); 
            }
        }
        @include responsive(desktop) {
           width: 20%;
        }
  
        img {
            width: 100px;
            height: auto;
            margin-bottom: 15px;
            filter: grayscale(40%); 
            transition: filter 0.3s ease; 
          }
  
      h3 {
        font-size: 18px;
        margin: 10px 0;
        color: $color-letra-principal;
      }

      p {
        height: 80px;
        font-size: 14px;
        color: $color-letra-principal;
        margin-bottom: 10px;
      }
  
      .precio {
        font-size: 16px;
        font-weight: bold;
        color: $color-letra-precio; 
        margin-bottom: 10px;
      }

      .quantity-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    
        label {
          margin-right: 10px;
          font-size: 14px;
          color: $color-letra-principal;
        }
    
        input{
          width: 60px;
          padding: 8px;
          border: 1px solid $border-icecream-background;
          border-radius: 5px;
          text-align: center;
          font-size: 14px;
          transition: border-color 0.3s ease;
          
          &:focus {
            border-color: $rojo1-gelatlove;
            outline: none;
          }
        }
      }
  
      button {
        padding: 8px 12px;
        background-color: $background-addproduct;
        color: $color-addproduct;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $background-hover-addproduct; 
        }
      }
  
      &:hover {
        transform: scale(1.05); 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
      }
    }
    h5{
      color: $color-letra-stock;
    }
  
}

  