@use '../mixins/responsive.scss' as *;

.flex{
    display: flex;
}
.footer{
    margin-top: 76px;
    padding: 50px;
    align-items: center;
    background-color: #F4F4F4;
    img{
        width: 30%;
    }
    div{
        padding: 100px;
        text-align: left;
        h5{
            font-weight: 600;
            color: black;
        }
        h6{
            font-weight: 400;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
.redes{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #ff0000;
    i{
        color: white;
        padding: 10px;
    }
}
.propiedad{
    background-color: #ff0000;
    color: black;
    text-align: center;
    padding: 10px;
}