@use '../mixins/responsive.scss' as *;
@use '../config/variables.scss' as *; 

.franchisee {
    display: flex;
    flex-direction: column;
    background-color: $color-banner1;
    padding: 20px;

    .content {
        flex: 1;
        padding-right: 20px;
        margin: 15px;

        h2 {
            font-size: 28px;
            margin-bottom: 10px;
            text-align: center;
            color: $color-letra-principal;
        }

        p {
            padding-bottom: 20px;
            font-size: 16px;
            text-align: center;
            color: $color-letra-principal;
        }
    }

    .franchisee__image {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    @include responsive(desktop) {
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;

        .content {
            flex: 1;
            margin: 5%;
            h2, p {
                text-align: left;
            }
            h2{
                font-size: 50px;
            }
            p{
                font-size: 25px;
            }
        }

        .franchisee__image {
            flex: 1;
            max-width: 600px;
            margin-top: 7%;
        }
    }
}