@use '../mixins/responsive.scss' as *;

.logo{
    width: 250px;
    height: 80px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: #F4F4F4;
    z-index: 999;
    .header-container{
        width: 100%;
    }
    .header-container__menu{
        display: flex;
        align-items: center;
    }
    .navbar{
        background-color: #F4F4F4;
    }
    .navbar-burger-icon{
        cursor: pointer;
        width: 30px;
        margin-left: 200px;
    }
    .navbar-links{
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        color: black;
        li{
            padding: 10px;
        }
        
    }

    .navbar-links a{
        &:hover{
            font-weight: 800;
            color: #E51D36;
        }
    }

    .profile {
        display: none; 
    }
    

    @include responsive(desktop){
        background-color: #F4F4F4;
        .logo{
            width: 270px;
            height: 80px;
        }
        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
          }
        .hamburger-menu {
            display: none; 
        }
        .navbar{
            display: flex;
            .navbar-links {
                display: flex !important;
                flex-direction:row;
                margin-right: 50px;
                gap: 10px;
                a &:hover{
                    font-weight: 800;
                    color: #E51D36;
                }
              }
        }
        .profile {
            display: flex; 
        }
        .myprofile {
            display: none; 
        }
    }
}