@use '../mixins/responsive.scss' as *;

.recipe{
    display: flex;
    flex-direction: column;
    @include responsive(desktop){
        flex-direction: row;
        justify-content: center;
    }
}
.rectangle__1{
    background-color: pink;
}

.rectangle__2{
    background-color: palevioletred;
}

.rectangle__3{
    background-color: gray;
}

h3{
    color: aquamarine;
}

p {
    color: #f4f4f4;
}


.rectangle__1, .rectangle__2, .rectangle__3{
    width: 250px;
    padding: 20px;
    margin: 20px auto; 
    border-radius: 30px;
    text-align: center; 

    img {
        width: 100%;
        transform: scale(0.6);
        height: auto;
        margin-bottom: 15px; 
    }

    h3 {
        margin: 10px 0;
        font-weight: bold;
    }

    @include responsive(desktop){
        width: 350px;
        padding: 50px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        
        img {
            width: 100%;
            transform: scale(0.6);
            margin-bottom: 20px; 
        }
    }
}