// Variables de colores
$rojo1-gelatlove: #e51d36;
$rojo2-gelatlove: #ab1613;

// Header background
$header-background: #f4f4f4;

// Botones
$color-botones: #efacb5;
$color-botones-fondo-hover: white; 
$color-botones-letra: white; 
$color-botones-letra-hover: #4a4a4a; 

// Botones secundarios
$color-botones-secundario: white; 
$color-botones-secundario-hover: #e51d36; 
$color-botones-secundario-letra: #ff6b6b; 
$color-botones-secundario-letra-hover: white; 

// Tipografía
$color-letra-principal: #4a4a4a; 
$color-letra-secundario: white;
$color-letra-extra: #c6924f;

// Colores para banners o fondos
$color-banner0: #ffe0a1;
$color-banner1: lightblue;
$color-banner2: lightpink;
$color-banner3: #e51d36;
$color-banner4: #f4f4f4;
$color-banner5: #efacb5;

// Icono productos
$background-icono: #e51d36;
$color-icono: white;
