/* Variables CSS */

/* Variables SASS */
//Colores

$color-marca: #E51D36;
$color-fondo: white;

$color-botones: #E51D36;
$color-botones-fondo-hover: white;
$color-botones-letra-hover: #E51D36;


$color-borde: #FFD8DA;;

$color-letra-principal: white;
$color-letra-secundario: black;
$color-letra-extra: #FFD8DA;
$color-letra-extra2: #EFACB5;
$color-letra-extra3: #C9BFEF;

$color-contraste-banner2: #B27A18;

$color-banner0: white;
$color-banner1: #E51D36;
$color-banner2: #FFE0A1;
$color-banner3: lightblue;
$color-banner4: #C9BFEF;
$color-banner5: #EFACB5;

$color-verificado: lightgreen;

//Botones
